<!-- Page Navbar -->
<nav id="scrollspy" class="navbar page-navbar navbar-light navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="navbar-brand" href="#"><strong class="text-primary">Events</strong> <span class="text-dark">NearYou</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testmonial">Testimonios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contacto</a>
                </li>
                <li class="nav-item ml-md-4">
                    <a class="nav-link btn btn-primary" routerLink="/admin">Ingresa</a>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- End of Page Navbar -->   

<!-- Page Header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content">
        <p>.</p>
        <h6>Events Near You</h6> 
    </div>      
</header><!-- End of Page Header -->

<app-events></app-events>

<!-- About Section -->
<section id="about">
    <!-- Container -->
    <div class="container">
        <!-- About wrapper -->
        <div class="about-wrapper">
            <div class="after"><h1>Nosotros</h1></div>
            <div class="content">
                <h5 class="title mb-3"></h5>
                <!-- row -->
                <div class="row">
                    <div class="col">
                        <p>¡Bienvenido a Events Near You! Somos más que una agenda de eventos; 
                            somos el puente que conecta a la comunidad con las experiencias locales 
                            que realmente importan. Aquí, la celebración de la cultura y participación
                             comunitaria se encuentran en el corazón de todo lo que hacemos.</p>
                    </div>
                    <div class="col">
                        <p>En Events Near You, nos enorgullece ofrecer una plataforma única que va 
                            más allá de los eventos generales. Nos concentramos en los eventos comunitarios 
                            locales, desde fiestas patronales hasta actividades organizadas por grupos sin 
                            fines de lucro. Nuestra misión es simplificar la búsqueda de eventos, fomentar la
                             participación y fortalecer los lazos dentro de la comunidad.</p>    
                        
                    </div>
                </div><!-- End of Row -->                   
            </div>
        </div><!-- End of About Wrapper -->         
    </div>  <!-- End of Container-->        
</section><!--End of Section -->

<!-- section -->
<section>
    <!-- Container -->
    <div class="container">
        <!-- row -->
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <div class="img-wrapper">
                    <div class="after"></div>
                    <img src="/assets/imgs/fiestap.jpeg" class="w-100" alt="About Us">
                </div>
            </div>
            <div class="col-md-5">
                <h6 class="title mb-3">Por qué somos únicos?</h6>
                <p>Aunque existen muchas aplicaciones de eventos, 
                    destacamos al enfocarnos exclusivamente en lo local.
                    Puedes filtrar eventos por ciudad, lo que significa que 
                    encuentras exactamente lo que buscas, donde lo buscas.</p>
            </div>
        </div>
        <!-- End of Row -->
    </div>  
    <!-- End of Container -->
</section><!-- End of Section -->   

<!-- section -->
<section>
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row justify-content-between align-items-center">                
            <div class="col-md-5">
                <h6 class="title mb-3">Funcionalidad Principal y Objetivo</h6>
                <p>La funcionalidad principal de Events Near You es sencilla:
                a los usuarios descubrir y compartir eventos locales. 
                Queremos que la información sobre actividades comunitarias sea 
                accesible para todos, y nuestro objetivo es aumentar la asistencia
                a eventos locales al facilitar la conexión entre organizadores y participantes.</p>

            </div>
            <div class="col-md-6">
                <div class="img-wrapper">
                    <div class="after right"></div>
                    <img src="assets/imgs/fiestacomunal.webp" class="w-100" alt="About Us">
                </div>                      
            </div>
        </div><!-- End of Row -->           
    </div><!-- End of Container-->      
</section><!-- End of Section -->


<!-- Section -->
<section>
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <div class="img-wrapper">
                    <div class="after"></div>
                    <img src="/imgs/imagenfie.jpeg" class="w-100" alt="About us">
                </div>
            </div>
            <div class="col-md-5">
                <h6 class="title mb-3">Explora sin limites</h6>
                
                <p>No importa dónde te encuentres, queremos que explores 
                    eventos de manera ilimitada. Nuestra plataforma te permite 
                    sumergirte en conciertos, conferencias, celebraciones y mucho 
                    más, desde la comodidad de tu hogar o desde cualquier lugar del 
                    mundo. La distancia no debería ser un obstáculo para ser parte 
                    de momentos extraordinarios.</p>
            </div>
        </div><!-- End of Row -->           
    </div><!-- End of Container-->      
</section><!-- End of Section -->   

<!-- Testmonial Section -->
<section class="text-center pt-5" id="testmonial">
    <!-- Container -->
    <div class="container">
        <h3 class="mt-3 mb-5 pb-5">Lo que nuestros usuarios dicen</h3>
        <!-- Row -->
        <div class="row">
            <div class="col-sm-10 col-md-4 m-auto">
                <div class="testmonial-wrapper">
                    <img src="assets/imgs/avatar1.jpg" alt="Client Image">
                    <h6 class="title mb-3">Adell Smith</h6>
                    <p>Events Near You me salvó durante mi viaje y me permitió sumergirme mas a la cultura local</p>
                </div>
            </div>
            <div class="col-sm-10 col-md-4 m-auto">
                <div class="testmonial-wrapper">
                    <img src="assets/imgs/avatar2.jpg" alt="Client Image">
                    <h6 class="title mb-3">John Doe</h6>
                    <p>Esta pagina web me ha permitido conocer y asistir a eventos de mi comunidad</p>
                </div>
            </div>
            <div class="col-sm-10 col-md-4 m-auto">
                <div class="testmonial-wrapper">
                    <img src="assets/imgs/avatar3.jpg" alt="Client Image">
                    <h6 class="title mb-3">Kyle Butler</h6>
                    <p>Events Near You me ha permitido conocer personas excepcionales en eventos super divertidos.</p>
                </div>
            </div>
        </div><!-- end of Row -->           
    </div><!-- End of Cotanier -->  
</section><!-- End of Testmonial Section -->

<!-- Section -->
<section class="has-bg-img text-center text-light height-auto" style="background-image: url(assets/imgs/asistir.jpg)">
    <h1 class="display-4">BUSCA UN EVENTO CERCA A TI</h1>
</section><!-- End of Section -->


<!-- Contact Section -->
<section id="contact" class="text-center">
    <!-- container -->
    <div class="container">
        <h1>CONTACTANOS</h1>
        <p class="mb-5">Si quieres publicar tu evento, escribenos al siguiente correo:  </p>
        <p href="https://www.google.com/intl/es-419/gmail/about/" class="link">eventsnearyou@website.com</p>
        

    </div>   
</section>

<!-- Section -->
<section class="pb-0">
    <!-- Container -->
    <div class="container">
        <!-- Pre footer -->
        <div class="pre-footer">
            <ul class="list">
                <li class="list-head">
                    <h6 class="font-weight-bold">Sobre nosotros</h6>
                </li>
                <li class="list-body">
                    <p>Una pagina por y para la comunidad</p>
                    <a href="#"><strong class="text-primary">Events</strong> <span class="text-dark">Near You</span></a>
                </li>
            </ul>
           
            <ul class="list">
                <li class="list-head">
                    <h6 class="font-weight-bold">INFORMACION DE CONTACTO</h6>
                </li>
                <li class="list-body">
                    <p>Contactanos y te escribiremos de vuelta en menos de 24 horas</p>
                    <p><i class="ti-location-pin"></i> 12345 Fake ST NoWhere AB Country</p>
                    <p><i class="ti-email"></i>  eventsnearyou@website.com</p>
                    <div class="social-links">
                       <p><a href="https://www.facebook.com/" class="link"><i class="ti-facebook">Events Near You</i></a></p> 
                        <p><a href="https://twitter.com/?lang=es" class="link"><i class="ti-twitter-alt"></i>@EVNY</a></p>
                        <p><a href="https://www.instagram.com/" class="link"><i class="ti-instagram"></i>@EventsNearYou</a></p>
                    </div>
                </li>
            </ul> 
        </div><!-- End of Pre footer -->            

        <!-- foooter -->
        <footer class="footer">            
            <p>Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">DevCRUD</a></p>
            <!-- Dropdown de Google Translate -->
  <div id="google_translate_element"></div>


  <!-- Script de Google Translate -->
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
        pageLanguage: 'es',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        autoDisplay: false,
        includedLanguages: 'es,en,fr,de' // Incluir español como primer idioma
      }, 'google_translate_element');

      var select = document.querySelector('.goog-te-combo');
      select.value = 'es'; // Establecer español como idioma predeterminado
      select.dispatchEvent(new Event('change'));
    }
  </script>
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
 </footer><!-- End of Footer-->      
    </div><!--End of Container -->      
</section><!-- End of Section -->